
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-4--ViN {
  box-sizing: border-box;
  padding-bottom: 29.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-y6gf-vSJ {
    flex-shrink: 0;
    margin: 0rem 0rem 12.9rem 0.2rem;
    box-sizing: border-box;
    padding: 1.7rem 2.9rem 1.8rem 2.6rem;
    height: 9rem;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;

    .odysseyiconimg-Y6J {
      width: 7.1rem;
      height: 4.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.8rem 2.8rem 0rem 0rem;
    }
    .subjecttxt-2GN {
      color: #000000;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 145.1rem 0rem 0rem;
      font-size: 5rem;
      font-weight: 500;
      line-height: 1;
    }
    .auto-group-j7bm-tJa {
      width: 5.5rem;
      height: 100%;
      background-color: #999999;
      border-radius: 2.75rem;
      flex-shrink: 0;

      .user-dGA {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .auto-group-hpkf-XMY {
    border: solid 0.1rem #d5d5d5;
    background-color: #ffffff;
    flex-shrink: 0;
    margin: 0rem 10.6rem 7.5rem 9.9rem;
    padding: 4.1rem 9rem 2.9rem 5.3rem;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 3rem;
    box-sizing: border-box;
    width: calc(100% - 20.5rem);
    align-items: center;

    .user-RC2 {
      margin: 0rem 12.7rem 1.1rem 0rem;
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-8sgf-wRG {
      flex-shrink: 0;
      margin: 1.4rem 85.4rem 0rem 0rem;
      display: flex;
      flex-direction: column;

      .subjecttxt-TuQ {
        line-height: 1;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.9rem;
        font-size: 4.8rem;
        font-weight: 500;
      }
      .item--ngn {
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1;
      }
    }
    .auto-group-hzrf-Jf8 {
      color: #ff7b54;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 3rem;
      margin-bottom: 2.9rem;
      height: 8.2rem;
      font-size: 3rem;
      display: flex;
      border: solid 0.1rem #ff7b54;
      flex-shrink: 0;
      width: 26.3rem;
      font-family: Noto Sans KR, 'Source Sans Pro';
      box-sizing: border-box;
      font-weight: 900;
      line-height: 1;
      letter-spacing: -0.15rem;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
    }
  }
  .auto-group-ae7r-FCz {
    margin-bottom: 9.6rem;
    box-sizing: border-box;
    padding: 4.9rem 10.4rem 5.9rem 10.2rem;
    flex-direction: column;
    background-color: rgba(50, 140, 130, 0.25);
    flex-shrink: 0;
    width: 191.9rem;
    align-items: center;
    display: flex;

    .line-21-k9k {
      margin: 0rem 85.774rem 0.4rem 85.4rem;
      width: calc(100% - 171.1735rem);
      height: 0.1rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .auto-group-vef9-3uY {
      width: 100%;
      height: 35.3rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-197-mae {
        position: absolute;
        top: 0;
        border: solid 0.1rem #d5d5d5;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        width: 171rem;
        height: 35.3rem;
        left: 0.3rem;
        border-radius: 3rem;
      }
      .rectangle-193-FVp {
        width: 5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-image: url('REPLACE_IMAGE:ee6a5f008ab0d200fc9ba6860e4189ade1a6df60');
        box-sizing: border-box;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 5rem;
        position: absolute;
        left: 88.9rem;
        top: 5.5rem;
        border: solid 0.1rem #d5d5d5;
        background-position: center;
      }
      .subjecttxt-8Ji {
        position: absolute;
        top: 28.6rem;
        font-weight: 500;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        width: 2rem;
        left: 159rem;
        font-size: 4rem;
        line-height: 1;
        color: #000000;
        height: 4rem;
      }
      .subjecttxt-2ut {
        position: absolute;
        left: 157.7rem;
        font-size: 4rem;
        font-weight: 500;
        white-space: nowrap;
        width: 5.2rem;
        height: 4rem;
        top: 15.9rem;
        line-height: 1;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
      }
      .subjecttxt-9Ui {
        font-weight: 500;
        line-height: 1;
        color: #000000;
        width: 2.5rem;
        height: 4rem;
        position: absolute;
        top: 25.8rem;
        font-size: 4rem;
        left: 15.3rem;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
      }
      .subjecttxt-GZL {
        position: absolute;
        top: 5.5rem;
        font-weight: 500;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.2rem;
        height: 4rem;
        left: 77.9rem;
        font-size: 4rem;
        line-height: 1;
      }
      .subjecttxt-zES {
        white-space: nowrap;
        width: 5.2rem;
        height: 4rem;
        position: absolute;
        font-size: 4rem;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        left: 78rem;
        top: 15.9rem;
        font-weight: 500;
        line-height: 1;
      }
      .subjecttxt-WCn {
        left: 157.7rem;
        top: 4.6rem;
        font-weight: 500;
        line-height: 1;
        color: #000000;
        white-space: nowrap;
        height: 4rem;
        position: absolute;
        font-size: 4rem;
        font-family: Noto Sans KR, 'Source Sans Pro';
        width: 5.2rem;
      }
      .line-19-cFp {
        width: 171.0283rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 12.9357rem;
        background-color: #d9d9d9;
      }
      .line-20-YQN {
        width: 171.0283rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 23.7984rem;
        background-color: #d9d9d9;
      }
      .subjecttxt-gWa {
        line-height: 1;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        width: 26.3rem;
        position: absolute;
        left: 14.2rem;
        font-weight: 500;
        height: 4rem;
        top: 4.8rem;
        font-size: 4rem;
        color: #000000;
      }
      .subjecttxt-yVg {
        position: absolute;
        font-weight: 500;
        white-space: nowrap;
        top: 5.1rem;
        font-size: 4rem;
        line-height: 1;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        width: 13.8rem;
        height: 4rem;
        left: 99.3rem;
      }
      .subjecttxt-J2A {
        width: 21.3rem;
        height: 4rem;
        font-size: 4rem;
        font-weight: 500;
        line-height: 1;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        left: 99.3rem;
        top: 15.1rem;
        font-family: Noto Sans KR, 'Source Sans Pro';
      }
      .subjecttxt-1BU {
        position: absolute;
        left: 15.3rem;
        top: 16.2rem;
        line-height: 1;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        width: 7.3rem;
        height: 4rem;
        font-size: 4rem;
        font-weight: 500;
        white-space: nowrap;
      }
      .ellipse-17-Khx {
        top: 3.6409rem;
        object-fit: contain;
        vertical-align: top;
        width: 7rem;
        height: 7.1rem;
        position: absolute;
        left: 3.4761rem;
      }
      .p-rSz {
        height: 4rem;
        top: 5rem;
        line-height: 1;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        width: 2.6rem;
        left: 6.2rem;
        font-size: 4rem;
        font-weight: 500;
        white-space: nowrap;
        position: absolute;
      }
      .item--AyU {
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        width: 4.1rem;
        height: 4.5rem;
        top: 27rem;
        font-weight: 500;
        line-height: 1;
        position: absolute;
        left: 4.9rem;
        font-size: 4.5rem;
      }
      .pngwing-2-5Kk {
        width: 8.4rem;
        height: 6rem;
        position: absolute;
        left: 2.7rem;
        top: 15.6rem;
        object-fit: cover;
        vertical-align: top;
      }
      .pngwing-4-pHL {
        left: 88.9rem;
        top: 15.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 5rem;
        height: 5rem;
        position: absolute;
      }
    }
  }
  .auto-group-gydz-838 {
    box-sizing: border-box;
    padding: 5.5rem 43.6rem 5.5rem 32.4rem;
    width: calc(100% - 0.5rem);
    flex-shrink: 0;
    margin: 0rem 0.4rem 3.6rem 0.1rem;
    align-items: center;
    background-color: rgba(255, 123, 84, 0.25);
    background: linear-gradient(180deg, rgba(220, 127, 93, 0) 0%, rgba(255, 123, 84, 0) 0%, rgba(252, 123, 84, 0) 0.01%, rgba(250, 123, 85, 0) 2.08%, rgba(248, 123, 85, 0) 4.15%, rgba(247, 123, 85, 0) 4.16%, rgba(246, 123, 85, 0) 4.17%, rgba(242, 124, 86, 0) 6.25%, rgba(219, 119, 82, 0) 8.85%, rgba(221, 138, 100, 0) 25.52%, rgba(224, 170, 122, 0) 46.35%, rgba(159, 158, 125, 0) 66.15%, rgba(83, 145, 128, 0) 91.67%, rgba(50, 140, 130, 0) 100%, rgba(50, 140, 130, 0) 100%, rgba(50, 140, 130, 0) 100%);
    display: flex;

    .odysseyiconimg-E6A {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 3.3rem;
      width: 7.6rem;
      height: 5.4rem;
      object-fit: cover;
    }
    .subjecttxt-9iv {
      line-height: 1;
      letter-spacing: -0.25rem;
      color: #ff7b54;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 5rem;
      font-weight: 900;
    }
  }
  .subjecttxt-ep6 {
    line-height: 1;
    color: #000000;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 2.4rem 13.1rem;
    font-size: 3.6rem;
    font-weight: 500;
  }
  .auto-group-p51h-BJE {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 3rem;
    flex-shrink: 0;
    box-sizing: border-box;
    width: calc(100% - 22.2rem);
    border: solid 0.1rem #d5d5d5;
    align-items: center;
    background-color: #ffffff;
    margin: 0rem 11.1rem 4rem 11.1rem;
    padding: 5.2rem 8.4rem 4.3rem 5rem;
    display: flex;

    .item--h1g {
      flex-shrink: 0;
      margin: 0rem 133.8rem 0.4rem 0rem;
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 1;
      color: #000000;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
    }
    .subjecttxt-nYv {
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 500;
      line-height: 1;
      color: #000000;
    }
  }
  .auto-group-cmju-t6A {
    box-sizing: border-box;
    width: calc(100% - 22.3rem);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    margin: 0rem 11.1rem 4rem 11.2rem;
    padding: 3.9rem 10rem 5.5rem 4.9rem;
    display: flex;
    align-items: center;
    border: solid 0.1rem #d5d5d5;
    background-color: #ffffff;
    border-radius: 3rem;

    .item--Bqx {
      color: #000000;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 132.2rem 0.5rem 0rem;
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 1;
    }
    .subjecttxt-hJW {
      color: #000000;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.1rem;
      font-size: 4rem;
      font-weight: 500;
      line-height: 1;
    }
  }
  .auto-group-ggrs-zHc {
    margin: 0rem 0rem 10.7rem 0.1rem;
    padding: 3.9rem 68.4rem 2.5rem 68rem;
    width: 192.1rem;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    background-color: #328c82;
    background: linear-gradient(180deg, rgba(220, 127, 93, 0) 0%, rgba(255, 123, 84, 0) 0%, rgba(252, 123, 84, 0) 0.01%, rgba(250, 123, 85, 0) 2.08%, rgba(248, 123, 85, 0) 4.15%, rgba(247, 123, 85, 0) 4.16%, rgba(246, 123, 85, 0) 4.17%, rgba(242, 124, 86, 0) 6.25%, rgba(219, 119, 82, 0) 8.85%, rgba(221, 138, 100, 0) 25.52%, rgba(224, 170, 122, 0) 46.35%, rgba(159, 158, 125, 0) 66.15%, rgba(83, 145, 128, 0) 91.67%, rgba(50, 140, 130, 0) 100%, rgba(50, 140, 130, 0) 100%, rgba(50, 140, 130, 0) 100%);

    .subjecttxt-VkA {
      letter-spacing: -0.25rem;
      color: #ffffff;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2.8rem;
      line-height: 1;
      flex-shrink: 0;
      font-size: 5rem;
      font-weight: 900;
    }
    .item--RNv {
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 11rem;
      font-size: 3rem;
      font-weight: 500;
      line-height: 1;
      color: #ffffff;
    }
  }
  .auto-group-cyjb-k3p {
    height: 35.3rem;
    position: relative;
    border-top: solid 0.1rem #d9d9d9;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0rem 12.4rem 0rem 9.9rem;
    width: calc(100% - 22.3rem);

    .rectangle-198-rce {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 3rem;
      height: 35.3rem;
      left: 0.3rem;
      top: 0;
      box-sizing: border-box;
      width: 169.4rem;
      position: absolute;
      border: solid 0.1rem #d5d5d5;
    }
    .subjecttxt-MJW {
      color: #000000;
      white-space: nowrap;
      font-size: 4rem;
      line-height: 1;
      position: absolute;
      left: 159rem;
      top: 26.3rem;
      font-weight: 500;
      font-family: Noto Sans KR, 'Source Sans Pro';
      width: 2rem;
      height: 4rem;
    }
    .subjecttxt-GRU {
      height: 4rem;
      position: absolute;
      left: 160.6rem;
      top: 15.9rem;
      font-weight: 500;
      width: 2rem;
      font-size: 4rem;
      line-height: 1;
      color: #000000;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
    }
    .subjecttxt-yan {
      top: 26.6rem;
      font-size: 4rem;
      color: #000000;
      font-family: Noto Sans KR, 'Source Sans Pro';
      width: 25rem;
      height: 4rem;
      position: absolute;
      left: 19.9rem;
      font-weight: 500;
      line-height: 1;
      white-space: nowrap;
    }
    .subjecttxt-Gpn {
      width: 2rem;
      top: 3.8rem;
      font-weight: 500;
      line-height: 1;
      color: #000000;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      height: 4rem;
      position: absolute;
      left: 78rem;
      font-size: 4rem;
    }
    .subjecttxt-nYE {
      width: 2rem;
      position: absolute;
      left: 78.2rem;
      top: 15.1rem;
      font-size: 4rem;
      font-weight: 500;
      line-height: 1;
      height: 4rem;
      color: #000000;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
    }
    .subjecttxt-6op {
      height: 4rem;
      position: absolute;
      left: 156.6rem;
      font-size: 4rem;
      line-height: 1;
      width: 2rem;
      top: 5rem;
      font-weight: 500;
      color: #000000;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-22-R5Q {
      width: 169.4282rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 12.9357rem;
      background-color: #d9d9d9;
    }
    .line-23-Mjk {
      top: 23.7984rem;
      background-color: #d9d9d9;
      width: 169.4282rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
    }
    .subjecttxt-umG {
      font-size: 4rem;
      line-height: 1;
      color: #000000;
      white-space: nowrap;
      width: 12.5rem;
      height: 4rem;
      position: absolute;
      left: 19.2rem;
      top: 3.1rem;
      font-weight: 500;
      font-family: Noto Sans KR, 'Source Sans Pro';
    }
    .subjecttxt-Rjc {
      white-space: nowrap;
      width: 15.4rem;
      position: absolute;
      left: 93.9rem;
      font-size: 4rem;
      line-height: 1;
      color: #000000;
      height: 4rem;
      top: 4.6rem;
      font-weight: 500;
      font-family: Noto Sans KR, 'Source Sans Pro';
    }
    .subjecttxt-YZL {
      width: 5.9rem;
      height: 4rem;
      position: absolute;
      top: 14.8rem;
      font-weight: 500;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      left: 93.9rem;
      font-size: 4rem;
      line-height: 1;
      color: #000000;
    }
    .subjecttxt-g9k {
      width: 15.7rem;
      font-size: 4rem;
      color: #000000;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      height: 4rem;
      position: absolute;
      left: 19.6rem;
      top: 16.5rem;
      font-weight: 500;
      line-height: 1;
    }
    .item-1-1--oVG {
      top: 8.3rem;
      font-family: Noto Sans KR, 'Source Sans Pro';
      width: 16.8rem;
      height: 3rem;
      position: absolute;
      left: 19.2rem;
      font-size: 3rem;
      font-weight: 500;
      line-height: 1;
      color: #000000;
      white-space: nowrap;
    }
    .pngwing-5-hqY {
      left: 3.2rem;
      top: 3.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 9rem;
      height: 6.5rem;
      position: absolute;
    }
  }
}
